* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 42.5%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 36%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 30%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  min-width: 30rem;
  height: 100vh;
  background-color: #1976D2;
}

main {
  background-color: rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 2rem;
}

main .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20%);
}

main .cards .card {
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  padding: 1.5rem;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .cards .card:not(:first-of-type) {
  margin-left: 1rem;
}

main .cards .card__title {
  font-size: 2.1rem;
}

main .cards .card__subtitle {
  font-size: 1.7rem;
}

main .cards .card__icon i {
  font-size: 2.5rem;
}

.table {
  max-width: 95%;
  margin-top: 8rem;
  /*//////[ Table ]*/
  /*//////////////////////////////////////////////////////////////////
[ Table ]*/
  /*==================================================================
[ Fix header ]*/
  /*==================================================================
[ Ver2 ]*/
  /*---------------------------------------------*/
}

.table .table100 .ps__rail-y {
  width: .9rem;
  background-color: transparent;
  opacity: 1 !important;
  right: .5rem;
}

.table .table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: .5rem;
  width: 100%;
  height: calc(100% - 3.0rem);
  left: 0;
  top: 1.5rem;
}

.table .table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table .table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: .5rem;
  width: 100%;
  height: calc(100% - 3.0rem);
  left: 0;
  top: 1.5rem;
}

.table .limiter {
  width: 136.6rem;
  margin: 0 auto;
}

.table .container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3.3rem 3.0rem;
}

.table .wrap-table100 {
  width: 117.0rem;
}

.table .table100 {
  background-color: #fff;
}

.table table {
  width: 100%;
}

.table th,
.table td {
  font-weight: unset;
  padding-right: 1.0rem;
}

.table .column1 {
  width: 33%;
  padding-left: 4.0rem;
}

.table .column2 {
  width: 13%;
}

.table .column3 {
  width: 22%;
}

.table .column4 {
  width: 19%;
}

.table .column5 {
  width: 13%;
}

.table .table100-head th {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.table .table100-body td {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.table .table100 {
  position: relative;
  padding-top: 6.0rem;
}

.table .table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table .table100-body {
  max-height: 58.5rem;
  overflow: auto;
}

.table .table100.ver2 .table100-head {
  box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.1);
}

.table .table100.ver2 th {
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  color: #fa4251;
  line-height: 1.4;
  background-color: transparent;
}

.table .table100.ver2 td {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: #808080;
  line-height: 1.4;
}

.table .table100.ver2 .table100-body tr {
  border-bottom: .1rem solid #f2f2f2;
}

.table .table100.ver2 {
  border-radius: 1.0rem;
  overflow: hidden;
  box-shadow: 0 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
}

.table .table100.ver2 .ps__rail-y {
  right: .5rem;
}

.table .table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table .table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}
/*# sourceMappingURL=main.css.map */